<!-- views/partials/footer.ejs -->
<footer class="footer">
<p class="text-muted">
    <%- process.env.FOOTER %>
</p>
</footer>

<!-- Global Scripts -->
<!-- Bootstrap JS excluded as not required and would require jQuery -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script> -->